.recommended {
    display: flex;
    justify-content: space-between;
}

.card {
    display: inline-block;
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}
