.cart-container {
    position: absolute;
    overflow: hidden;
}

.cart-container,
.cart {
    top: 0px;
    right: 0px;
    width: var(--cartWidth);
    height: 100%;
}

.cart {
    position: relative;
    background: var(--cartBackground);
    color: var(--topNavColor);
    transition: 1s ease right;
}

.cart.hide {
    right: calc(var(--cartWidth) * -1);
}

.cart-title {
    background: #335;
    border-bottom: 1px solid var(--topNavColor);
    padding: 15px;
}

.cart-close {
    background: transparent;
    border: 0px;
    border-radius: var(--buttonRadius);
    padding: 0px 13px;
    color: var(--bodyBackground);
    font-size: var(--font-size);
    font-weight: bold;
}

.cart-close:hover {
    background: var(--cartBackground);
}

.cart-table {
    width: calc(var(--cartWidth) - calc(var(--cartTableMargin) * 2));
    border-collapse: collapse;
    margin: var(--cartTableMargin);
    font-size: calc(var(--font-size) - 3px);
}

.cart-image {
    max-width: 45px;
    max-height: 45px;
}

.cart-wrapper {
    margin: var(--cartTableMargin);
}
