:root {
    --bodyBackground: #DEFFF8;
    --topNavBackground: #223;
    --topNavColor: #DDE;
    --topBarLinkHoverBackground: #556;
    --splashTextColor: #FF6866;
    --cartBackground: #001;
    --cartTitleBackground: #335;
    --footerBackground: #004;
    --spashBackground: #390D04;
    --splashTextShadow: #200;
}
