.spread {
    display: flex;
    justify-content: space-between;
}

.btn {
    border: 0px;
    border-radius: var(--buttonRadius);
    padding: 5px 12px;
    font-weight: bold;
    vertical-align: middle;
}

.btn:active {
    padding: 6px 11px 4px 13px;
}

.btn-dark {
    background: var(--topNavBackground);
    color: var(--topNavColor);
}

.btn-dark:hover {
    background: var(--cartBackground);
    color: var(--bodyBackground);
}

.btn-light {
    background: var(--topNavColor);
    color: var(--topNavBackground);
}

.btn-light:hover {
    background: var(--bodyBackground);
    color: var(--cartBackground);
}

.center {
    text-align: center;
}
