/* GLOBAL */

:root {
  --bodyBackground: #DEFFF8;
  --topNavBackground: #223;
  --topNavColor: #DDE;
  --topBarLinkHoverBackground: #556;
  --font-size: 16px;
  --cartWidth: 400px;
  --cartBackground: #001;
  --cartTableMargin: 10px;
  --buttonRadius: 3px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background: var(--bodyBackground);
  font-family: "avenir next", avenir, ubuntu, roboto, noto, "segoe ui", sans-serif;
}
h1 {
  margin: 0px;
}
th {
  font-weight: bold;
}


/* UTILITY */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0px;
  margin: -1px;
  padding: 0px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0px;
  clip: auto;
  overflow: visible;
}
.spread {
  display: flex;
  justify-content: space-between;
}
.btn {
  border: 0px;
  border-radius: var(--buttonRadius);
  padding: 5px 12px;
  font-weight: bold;
  vertical-align: middle;
}
.btn:active {
  padding: 6px 11px 4px 13px;
}
.btn-dark {
  background: var(--topNavBackground);
  color: var(--topNavColor);
}
.btn-dark:hover {
  background: var(--cartBackground);
  color: var(--bodyBackground);
}
.btn-light {
  background: var(--topNavColor);
  color: var(--topNavBackground);
}
.btn-light:hover {
  background: var(--bodyBackground);
  color: var(--cartBackground);
}
.center {
  text-align: center;
}


/* TOP NAV */

.top-bar {
  background: var(--topNavBackground);
  color: var(--topNavColor);
  font-size: 0px;
}
.top-bar-nav {
  display: inline-block;
}
.logo {
  position: relative;
  margin: 0px -44px 0px 0px;
  padding: 0px 0px 0px 5px;
  color: var(--topNavColor);
  direction: ltr;
  font-family: IcoFont;
  font-size: 39px;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  vertical-align: -5px;
  speak: none;
  z-index: 10;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
.logo:before {
  content: '\eb92';
}
.top-bar-link,
.top-bar-cart-link {
  display: inline-block;
  border-right: 1px solid var(--topNavColor);
  padding: 15px 19px;
  color: var(--topNavColor);
  font-size: var(--font-size);
  text-decoration: none;
}
.top-bar-link:nth-of-type(2) {
  padding-left: 58px;
}
.top-bar-link:hover {
  background: var(--topBarLinkHoverBackground);
}
.top-bar-cart-link {
  border: 0px;
  font-size: var(--font-size);
}
.top-bar-cart-link:hover {
  text-decoration: underline;
}


/* MAIN */

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0px auto;
  padding-top: 35px;
}
.product-table {
  width: 100%;
}
.product-image {
  max-width: 100px;
  max-height: 100px;
}
.quantity-input {
  width: 100px;
}


/* CART*/

.cart-container {
  position: absolute;
  overflow: hidden;
}
.cart-container,
.cart {
  top: 0px;
  right: 0px;
  width: var(--cartWidth);
  height: 100%;
}
.cart {
  position: relative;
  background: var(--cartBackground);
  color: var(--topNavColor);
  transition: 1s ease right;
}
.cart.hide {
  right: calc(var(--cartWidth) * -1);
}
.cart-title {
  background: #335;
  border-bottom: 1px solid var(--topNavColor);
  padding: 15px;
}
.cart-close {
  background: transparent;
  border: 0px;
  border-radius: var(--buttonRadius);
  padding: 0px 13px;
  color: var(--bodyBackground);
  font-size: var(--font-size);
  font-weight: bold;
}
.cart-close:hover {
  background: var(--cartBackground);
}
.cart-table {
  width: calc(var(--cartWidth) - calc(var(--cartTableMargin) * 2));
  border-collapse: collapse;
  margin: var(--cartTableMargin);
  font-size: calc(var(--font-size) - 3px);
}
.cart-image {
  max-width: 45px;
  max-height: 45px;
}
.cart-wrapper {
  margin: var(--cartTableMargin);
}